* {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  #main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #y1 {
    background-color: #ffd60a;
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .nav {
    transform: rotate(270deg);
    transition: all 0.5s ease 0s;
  }
  #about:hover {
    scale: 1.2;
  }
  #skills:hover {
    scale: 1.2;
  }
  #partners:hover {
    scale: 1.2;
  }
  #goals:hover {
    scale: 1.2;
  }
  
  #icons {
    height: 170px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #insta {
    font-size: 1.5rem;
    color: black;
    transition: all 0.5s ease;
  }
  #insta:hover {
    color: #e1306c;
    scale: 1.3;
  }
  #github {
    font-size: 1.5rem;
    color: black;
    transition: all 0.5s ease;
  }
  #github:hover {
    color: #171515;
    scale: 1.3;
  }
  #linkedin {
    font-size: 1.5rem;
    color: black;
    transition: all 0.5s ease;
  }
  #linkedin:hover {
    color: #0072b1;
    scale: 1.3;
  }
  #b {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    padding: 50px;
    background-color: black;
    height: auto;
    width: 40vw;
    overflow: hidden;
  }
  #one {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
  }
  #two {
    font-size: x-large;
    font-weight: bolder;
    color: white;
  }
  h2 {
    -webkit-text-stroke: 0.4px white;
    color: transparent;
  }
  #b-button {
    background-color: #ffd60a;
    height: 40px;
    width: 150px;
    border: none;
    font-weight: 1000;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  #b-button:hover {
    scale: 1.1;
    border: 2px solid white;
  }
  #y2 {
    background-color: #ffd60a;
    height: 100vh;
    width: 50vw;
  
  }
  #y2-button {
    background-color: black;
    border: none;
    color: white;
    font-size: medium;
    font-weight: 900;
    height: 40px;
    width: 170px;
    position: absolute;
    right: 250px;
    top: 500px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  #y2-button:hover {
    scale: 1.1;
    border: 2px solid white;
  }
  
  .marquee-div {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  .project-container {
    padding: 40px;
    text-align: center;
  }
  
  .project-card {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
    margin: 20px;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card-content {
    padding: 20px;
    max-height: 150px;
    text-align: center;
    margin-top: 0;
    color: #ffd700;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }